[submodule "available-services/weave-javalin"]
	path = available-services/weave-javalin
	url = git@github.com:nicolas-tdc/weave-javalin.git
[submodule "available-services/weave-mongodb"]
	path = available-services/weave-mongodb
	url = git@github.com:nicolas-tdc/weave-mongodb.git
[submodule "available-services/weave-vanillajs"]
	path = available-services/weave-vanillajs
	url = git@github.com:nicolas-tdc/weave-vanillajs.git
[submodule "available-services/weave-navidrome"]
	path = available-services/weave-navidrome
	url = git@github.com:nicolas-tdc/weave-navidrome.git
